<div class="row-fluid">
	<h3>Power:</h3>
	<div class="row-fluid">
		<div id="pipower-power-graph"></div>
	</div>

	<table class="table table-bordered table-hover">
		<tr>
			<td>Voltage</td>
			<td data-bind="text:voltage.value"></td>
			<td>Volts</td>
		</tr>
		<tr>
			<td>Current</td> 
			<td data-bind="text:current.value"></td>
			<td>mA</td> 
		</tr>
		<tr>
			<td>Power</td>
			<td data-bind="text:power.value"></td>
			<td>Watts</td> 
		</tr>
		<tr>
			<td>Equivalent current @5V</td>
			<td data-bind="text:currentFiveVoltEquivelant.value"></td>
			<td>mA</td>
		</tr>
		<tr>
			<td>Equivalent current @3v3</td>
			<td data-bind="text:currentThreeVoltThreeEquivelant.value"></td>
			<td>mA</td>
		</tr>
	</table>
</div>

<!-- Temperatures -->

<div class="row-fluid">
	<h3>Temperatures:</h3>
	<div class="row-fluid">
		<div id="pipower-temperature-graph"></div>
	</div>
	<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Probe</th>
                <th>Temperature /&deg;C</th>
                <th>Max /&deg;C</th>
            </tr>
        </thead>

        <tbody data-bind="foreach: temperatureSensors">
		    <tr data-bind="if: enabled">
			    <td data-bind="text: caption"></td>
			    <td data-bind="text: value"></td>
                <td data-bind="text: maxValue"></td>
		    </tr>
        </tbody>
	</table>
</div>

<!-- Fans -->

<div class="row-fluid">
	<h3>Fans:</h3>
	<table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Fan</th>
                <th>Speed</th>
                <th>Control</th>
                <th>Speed</th>
            <tr>
        </thead>
        <tbody>
            <tr data-bind="with: fan0">
                <td data-bind="text: caption"></td>
                <td data-bind="text: speed" style="width:10%"></td>
                <td>
                    <button class="btn btn-block control-box" data-bind="click: on">On</button>
                    <button class="btn btn-block control-box" data-bind="click: off">Off</button>
                </td>
                <td style="width:30%">
                    <select class="btn btn-block control-box" data-bind="options: speedOptions, value: selectedSpeedOption"></select>
                    <button class="btn btn-block control-box" data-bind="click: update">Set</button>
                </td>
            </tr>
            <tr data-bind="with: fan1">
                <td data-bind="text: caption"></td>
                <td data-bind="text: speed" style="width:10%"></td>
                <td>
                    <button class="btn btn-block control-box" data-bind="click: on">On</button>
                    <button class="btn btn-block control-box" data-bind="click: off">Off</button>
                </td>
                <td style="width:30%">
                    <select class="btn btn-block control-box" data-bind="options: speedOptions, value: selectedSpeedOption"></select>
                    <button class="btn btn-block control-box" data-bind="click: update">Set</button>
                </td>
            </tr>
        </tbody>
	</table>
</div>

<!-- Lights -->

<div class="row-fluid">
	<h3>Light:</h3>
	<table class="table table-bordered table-hover">
		<tr>
			<td data-bind="text: settings.lightSensorCaption"></td>
			<td data-bind="text:lightLevel.value"></td>
			<td></td>
            <td></td>
		</tr>	
		<tr>
			<td>Display Backlight</td>
			<td>On</td>
			<td>
				<button class="btn btn-block control-box">On</button>
				<button class="btn btn-block control-box">Off</button>
			</td>
            <td></td>
		</tr>
	</table>
</div>

<!-- GPIO -->

<div class="row-fluid">
	<h3>GPIO:</h3>
	<table class="table table-bordered table-hover">
        <thead>
		<tr>
			<th>Pin</th>
            <th>Mode</th>
			<th>Value</th>
			<th>Control</th>
		<tr>
        </thead>
        <tbody data-bind="foreach: gpioOptions">
            <tr>

                <td data-bind="text: caption"></td>
                <td data-bind="text: modeText"></td>
                <td data-bind="text: value" style="width:10%"></td>
                <td>
                    <span data-bind="visible: showControl">
                        <button class="btn btn-block control-box" data-bind="click: setLow">LOW</button>
                        <button class="btn btn-block control-box" data-bind="click: setHigh">HIGH</button>
                    </span>
                </td>
            </tr>
        </tbody>
	</table>
</div>