<form class="form-horizontal">

    <h3>Temperature Sensors</h3>
    <!-- ko foreach:settings.plugins.pipower.temperatureSensors -->
        <div class="control-group">
            <div>
                <label class="control-label">Temperature Sensor</label>
                <div class="controls">
                    <select data-bind="options: $parent.settings.plugins.pipower.temperatureSensorOptions, value: sensorId" ></select>
                </div>
            </div>
            <div>
                <label class="control-label">Caption</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: caption">
                </div>
            </div>
        </div>
    <!-- /ko -->

    <h3>Fans</h3>
    <div class="control-group">
        <label class="control-label">{{ _('Fan 1 Caption') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.pipower.fan0Caption">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Fan 2 Caption') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.pipower.fan1Caption">
        </div>
    </div>

    <h3>Light Sensors</h3>
    <div class="control-group">
        <label class="control-label">{{ _('Light Sensor Caption') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.pipower.lightSensorCaption">
        </div>
    </div>

    <h3>GPIO</h3>
    <!-- ko foreach:settings.plugins.pipower.gpioOptions -->
        <h4>GPIO Pin <span data-bind="text: pin"></span></h4>
        <div class="control-group">
            <div>
                <label class="control-label">Caption</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: caption">
                </div>
            </div>
            <div>
                <label class="control-label">Mode:</label>
                <div class="controls">
                    <select data-bind="value: mode" >
                        <option value="0">Disabled</option>
                        <option value="1">Input</option>
                        <option value="2">Input - Pull Down</option>
                        <option value="3">Input - Pull Up</option>
                        <option value="4">Output</option>
                    </select>
                </div>
            </div>
        </div>
    <!-- /ko -->

</form>