<form class="form-horizontal">

    <h3>Temperature Sensors</h3>
    <!-- ko foreach:settings.plugins.pipower.temperatureSensors -->
        <div class="control-group">
            <div>
                <label class="control-label">Temperature Sensor</label>
                <div class="controls">
                    <select data-bind="options: $parent.settings.plugins.pipower.temperatureSensorOptions, value: sensorId" ></select>
                </div>
            </div>
            <div>
                <label class="control-label">Caption</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: caption">
                </div>
            </div>
        </div>
    <!-- /ko -->

    <h3>Fans</h3>
    <!-- ko foreach: settings.plugins.pipower.fans -->
    <div class="control-group">
        <label class="control-label" data-bind="text: name"></label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: caption">
        </div>
    </div>
    <!-- /ko -->

    <h3>Light Sensors</h3>
    <div class="control-group">
        <label class="control-label">{{ _('Light Sensor Caption') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.pipower.lightSensorCaption">
        </div>
    </div>

    <h3>GPIO</h3>
    <!-- ko foreach:settings.plugins.pipower.gpioOptions -->
        <h4>Pin <span data-bind="text: pin"></span></h4>
        <div class="control-group">
            <div>
                <label class="control-label">Caption</label>
                <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: caption">
                </div>
            </div>
            <div>
                <label class="control-label">Mode:</label>
                <div class="controls">
                    <select data-bind="value: mode" >
                        <option value="0">Disabled</option>
                        <option value="1">Input</option>
                        <option value="2">Input - Pull Down</option>
                        <option value="3">Input - Pull Up</option>
                        <option value="4">Output</option>
                    </select>
                </div>
            </div>
        </div>
    <!-- /ko -->

    <h3>Automation</h3>
     <!-- ko foreach: settings.plugins.pipower.automationOptions -->
        <div class="control-group">
            <div>
                <label class="control-label">When: </label>
                <div class="controls">
                    <select data-bind="options: $root.settings.plugins.pipower.automationEventOptions, value: eventName" ></select>
                </div>
            </div>
            <div>
                <label class="control-label">Action: </label>
                <div class="controls">
                    <select data-bind="options: $root.settings.plugins.pipower.actionOptions, value: action" ></select>
                </div>
            </div>
            <div data-bind="visible: action()=='Set Fan Speed'">
                <label class="control-label">Fan: </label>
                <div class="controls">
                    <select data-bind="options: $root.settings.plugins.pipower.fans, optionsText: 'caption', value: device" ></select>
                </div>
            </div>
            <div data-bind="visible: action()=='Set Fan Speed'">
                <label class="control-label">Set Speed: </label>
                <div class="controls">
                    <select data-bind="options: $root.settings.plugins.pipower.fanSpeedOptions, value: setValue" ></select>
                </div>
            </div>
            <div data-bind="visible: action()=='Set Fan Speed'">
                <label class="control-label">For (seconds): </label>
                <div class="controls">
                    <select data-bind="value: timer" >
                        <option value="0">Continious</option>
                        <option value="60">1 Minute</option>
                        <option value="120">2 Minutes</option>
                        <option value="300">5 Minute</option>
                        <option value="600">10 Minute</option>
                        <option value="900">15 Minute</option>
                        <option value="1800">30 Minute</option>
                        <option value="3600">1 Hour</option>
                    </select>
                    <span class="help-block">Set to 0 for continious running.</span>
                </div>
            </div>
        </div>
        <!-- /ko -->

</form>